/* Selector de IDs*/

#encabezado {
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: cadetblue;
}
#menu{
    top: 10%;
    left: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: coral;
}
#barraLateral{
    top: 15%;
    left: 0;
    height: 75%;
    width: 15%;
    position: fixed;
    text-align: right;
    background-color: red;    
}
#contenido{
    top: 15%;
    left: 15%;
    height: 75%;
    width: 85%;
    position: fixed;
    text-align: right;
    background-color: white;    
}
#piePagina{
    bottom: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: purple;    
}
.parrafoBlanco{ 
    color: white;
}
.parrafoRojo{
    color: red;
}
.parrafoCentrado{
    text-align: center;
}

div.parrafoBlanco p{
    font-size:25px;
}
body{
    background-color: gray;
}
:visited{
    font-size: 30px;
}

:hover{
    background-color: green;
    color:white;
    transition: 1s;
}
:active{
    background-color: purple;
    color:white;
}